#Use FastCGI PHP
# $Id: .htaccess.production -1   $
# $URL$
LoadModule fastcgi_module modules/mod_fastcgi.so
FastCgiIpcDir /var/run/zmc/php
FastCgiServer /etc/zmanda/.p -idle-timeout 315
AddHandler php-fastcgi .php
Action php-fastcgi /cgi-bin/.p

# ExpiresByType - useful for production, but harmful when developing.
ExpiresActive On
#ExpiresDefault now
ExpiresByType text/css "access plus 7 day"
ExpiresByType text/javascript "access plus 7 day"
ExpiresByType application/x-javascript "access plus 7 day"
ExpiresByType application/javascript "access plus 7 day"
ExpiresByType image/gif "access plus 7 day"
ExpiresByType image/jpg "access plus 7 day"
ExpiresByType image/png "access plus 7 day"
ExpiresByType image/x-icon "access plus 7 day"

# Front controller
AliasMatch ^/Admin/LogInView.php(.*)$ "/opt/zmanda/amanda/ZMC/Common/index.php/ZMC_Admin_Login$1"
Alias /Common "/opt/zmanda/amanda/ZMC/Common"
AliasMatch ^/([A-Z][^\.]*)$ "/opt/zmanda/amanda/ZMC/Common/index.php/$1"
AliasMatch ^/index.php(.*)$ "/opt/zmanda/amanda/ZMC/Common/index.php$1"

<FilesMatch "\.(gif|jpe?g|png|ico|css|js|swf)$">
	# Allow caching of non-sensitive code and images - large speed boost for production deployment, but harmful when developing.
	Header append cache-control "public"
</FilesMatch> 

# Allow HTTP connections, even when ZMC was configured to only allow HTTPS connections.
# Automatically redirects client to correct location using HTTPS.
# This exists for convenience, so http://server automatically redirects browser
# to the right port (might not be 443) for HTTPS access to ZMC.
<Directory "/opt/zmanda/amanda/ZMC/Common/redirect">
	RewriteEngine on
	RewriteBase /
	RewriteRule !index.php$ index.php
</Directory>

# REST Amanda Service, restricted to HTTPS, username/password, and
<Directory "/opt/zmanda/amanda/ZMC/Yasumi">
	AuthType Basic
	SSLRequireSSL
	Require valid-user
	Order allow,deny
	Allow from 127.0.0.1
	Satisfy all
	ErrorDocument 403 "For security reasons, this URL is only accesible using localhost (127.0.0.1) as the hostname"
</Directory>

# Allow server status reports generated by mod_status (restricted by <Directory> above)
<Location /server-status>
    SetHandler server-status
	Order allow,deny
	Allow from 127.0.0.1 192.168 10
</Location>
